@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

html {
  height: 100%;
}

body {
  height: 100%;
}

div.container-fluid {
  height: 100%;
  display: flex;
}

#video-container {

    height: 100vh;
}

.container-column {
    display: flex;
    flex-direction: column;
    flex: 1;
     flex-basis: 100%;
}

#publisher{
    flex: 0.7;
}

.backgrounds-form {
    width: 400px;
    padding: 20px;
}


@media (max-width: 900px) {
  div.col-sm-8, div.col-sm-4 {
    max-width: 100%;
    flex: 100%;
  }

  div.col-sm-8 {
    height: 40%;
  }

  div.col-sm-4 {
    height: 60%;
  }
}
